@use './reset.scss';


//Импорт необходимых шрифтов
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&display=swap');


//Изменение цвета выделения на разных устройствах


::selection {
  background: #ffb7b7;
  /* Safari */
}

::-moz-selection {
  background: #ffb7b7;
  /* Firefox */
}

body {
  background-color: #F1F1F1;
  font-family: "Anonymous Pro", sans-serif;
}

* {
  -webkit-tap-highlight-color: rgba(216, 112, 147, 0.356);
}


//Общий контейнер для всех компонентов
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}


// css свойства Preloader 
.preloader {

  width: 100%;
  height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

