.footer {
    background:#121723;
    color: white;
    padding: 32px 0px;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;


    }

    &__title {
        color:#FFF;
        font-family: Russo One;
        font-size: 31px;
        font-weight: 400;
        line-height: 78.188%;
    }




    &__copyright {
        text-align: center;
        color: #A1A6B4;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
    }

    .line {
        width: 100%;
        height: 1px;
        background: rgba(230, 232, 236, 0.40);
        margin-bottom: 24px;
    }

}



@media (max-width:610px) {

    .footer__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        flex-direction: column;
        margin-bottom: 24px;
    }
}