.about {
  padding: 60px 0;
  text-align: center;

  .about-content {
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 180px;

    .about-title {
      font-size: 4rem;
      font-weight: 600;
      color: #2a2a2a;
      margin-bottom: 20px;
      text-transform: uppercase;

      letter-spacing: -2px;
    }

    .about-description {
      font-size: 1.5rem;
      color: #6c757d;
      font-weight: 500;
    }
  }
}



.about__text__blocked{
    display: block;
    text-align: center;
    max-width: 100%;
}

.about__texted{

}

.about__text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

    &:not(:first-child):nth-child(2n){
        flex-direction: row-reverse;
    }


}

.about__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 400px;

  &:nth-child(2n)
  {
    text-align: right;
  }



}

.about__image-block {
  .sneaker-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 768px) {
  .about {
    .about-content {
      padding: 30px;
    }

    .about-title {
      font-size: 2.5rem;
    }

    .about-description {
      font-size: 1.25rem;
    }
  }
}
